.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
  transition: visibility 0.4s, opacity 0.4s linear;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  top: 32px;
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  width: 169px;
  height: 32px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #21212166;
  color: #212121;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  line-height: 100%;
  box-sizing: border-box;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  padding: 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  height: 52px;
  border-radius: 8px;
  width: 156px;
  box-sizing: border-box;
  border: none;
}

@media screen and (max-width: 768px) {
  .modal__submit-btn {
    width: 100%;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__input {
    box-sizing: border-box;
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__title {
    font-size: 20px;
  }
}
