.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
  transition: visibility 0.4s, opacity 0.4s linear;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  top: 34px;
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__close-btn_type_preview {
  background-image: url(../images/closemodalbtn.svg);
  right: -40px;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  top: -4.49px;
}

.modal__close-btn_type_preview:hover {
  opacity: 60%;
  background-image: url(../images/closemodalhoverstate.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  width: 169px;
  height: 32px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #21212166;
  color: #212121;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  line-height: 100%;
  box-sizing: border-box;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  padding: 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  height: 52px;
  border-radius: 8px;
  width: 156px;
  box-sizing: border-box;
  border: none;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  justify-content: center;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
  font-size: 20px;
  height: 24px;
  align-items: center;
}

.modal__image-container {
  position: relative;
}

@media screen and (max-width: 768px) {
  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_type_preview {
    color: #fff;
    position: relative;
    left: 348px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    right: 12px;
    top: 12px;
  }

  .modal__input {
    box-sizing: border-box;
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__image {
    max-width: none;
    max-height: none;
    width: 100%;
  }

  .modal__caption{
    font-size: 16px;
  }
}
