@import url("../vendor/fonts.css");

.page {
    background-color: #f5f6f7;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Poppins", "Arial", "sans-serif";
}

.cards__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}